html, body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--headerbg: #363636;
	--headertext: #FFF;
}

html[data-theme="light"] {
	--headerbg: #f2f2f2;
	--headertext: #000;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	padding: 0.5rem 1rem;
	font-weight: bold;
}
