.container {
	display: grid;
	margin: 2rem auto;
	width: 70%;
	grid-template-areas: ". .";
	grid-template-columns: 1fr 2.5fr;
}
@media (max-width: 500px) {
	.container {
		width: 100%;
		grid-template-areas: ".";
	}
}

.container code {
	background: var(--headerbg);
	padding: 2px;
	border-radius: 5px;
	font-size: 18px;
}

.container .side {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}
.container .side a {
	padding: .5rem 1rem;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	color: var(--headertext);
}

.container main h2 {
	margin: 0;
	font-size: 28px;
}
.container main h3 {
	font-size: 21px;
}
.container main p {
	font-size: 18px;
}
