.container {
	display: grid;
	margin: 2rem auto;
	width: 70%;
	grid-template-areas: ". .";
	grid-template-columns: 1fr 2.5fr;
}
@media (max-width: 500px) {
	.container {
		width: 100%;
		grid-template-areas: ".";
	}
}

.container a {
	font-size: 19px;
	padding: 3px;
}
